/* Putting a space inbetween global#id breaks code */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    /* This is the shortened version of above */
    /* font: 15px/1.5 Arial, Helvetica, sans-serif; */
    margin: 0;
    padding: 0;
    background-color: #d3d3d3;
}

/* Global Styles */
.container {
    width: 80%;
    margin: auto;
    /* overflow: hidden; */
}

.nav_wrapper {
    width: 80%;
    margin: auto;
}

/* removes ul default padding */
ul {
    margin: 0;
    padding: 0;
}

.button_1 {
    height: 38px;
    background: #e8491d;
    /* removes borders */
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.dark {
    padding: 15px;
    background: #ffffff;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Header Changes */
header {
    background: #ffffff;
    color: #000000;
    padding-top: 10px;
    /* Minimum height that responds to changes in screen size */
    min-height: 70px;
    /* Shortcut that allows me to control the border location, color, size, and orientation */
    border-bottom: #c0c0c0 3px solid;
    margin-bottom: 30px;
}

/* A more specific way to identify which anchor tag is affected */
header a{
    color: #d3d3d3;
    /* Removes the underline on links */
    text-decoration: none;
    /* changes words to either case */
    font-size: 16px;
}

header li {
    float: left;
    /* Allows lists to be horizontal */
    display: inline;
    padding: 0 20px 0 20px;
}

header li .line {
    text-align: bottom;
    color: #d3d3d3;
}

/* To make Name float left */
header#branding {
    float: left;
}

header#branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: -40px;
    
}


header .highlight {
    color: #ffffff;
    border: groove;
    border-width: 5px;
    border-color: #008080;
    background-color: #008080;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    /* margin-bottom: 20px; */
    width: 175px;
    padding: 20px 50px 20px 50px;
}

header .current a{
    color: #606060;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

/* Showcase */
#showcase {
    min-height: 400px;
    background:url(../images/Portfolio4.jpg) no-repeat 0 -400px;
    text-align: center;
    color: #ffffff;
}

#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}

/* Newsletter */
#newsletter {
    padding: 15px;
    color: #ffffff;
    background: #35424a;
}

newsletter h1{
    float: left;
}

#newsletter form {
    float: right;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* Boxes */
#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: center;
    text-align: left;
    width: 82.5%;
    padding: 10px;
}

#boxes .box img {
    width: 90px;
}

.quote input, .quote textarea{
    width: 90%;
    margin-top: 10px;
}

.quote textarea {
    height: 5rem;
}

/* Main Col */
article#main-col {
    float: left;
    padding: 20px 20px 20px 20px;
    width: 80%;
    background-color: #ffffff;
}

article#main-col img{
    float: left;
    padding-right: 20px;
    width: 300px;
    height: 300px;
}

article#main-col p{
    line-height: 2;
}
/* Portfolio */
article#portfolio img{
    width: 300px;
    height: 300px;
    z-index: 100;
}

article#portfolio a{
    background-color: #008080;
    z-index: 100;
}

.content {
    background-color: #008080;
    width: 300px;
    height: 350px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/* Title Name */
.page-title {
    color: #008080;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    padding: 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    background-color: #606060;
    border-top: #c0c0c0 3px solid;
    text-align: center;
}


/* To avoid content from being cut off */
/* Media Queries */
@media screen and (max-width: 980px){
    article#main-col .bio-pic {
        width: 70%;
    }

    article#main-col{
        text-align: left;
        width: 90%;
    }

    article#main-col img{
        width: 100%;
    }

    .dark{
        width: 100%;
    }
}

/* width of tablet */
@media screen and (max-width: 768px){
    article#main-col{
        text-align: center;
        width: 100%;
    }

    article#main-col img{
        width: 250px;
        height: 250px;
    }
    header a{
        padding: 0px 0px 0px 0px;
        font-size: 12px;
        margin: -30px;
    }

    .content{
        width: 250px;
        height: 300px;
    }

    #boxes .box {
        width: 100%;
    }
    .page-title {
        width: 100%;
        float: left;
        text-align: left;
    }

    .container {
        /* overflow: visible; */
    }

    article#main-col .bio-pic {
        width: 45%;
    }
/* 
    article#main-col p{
        overflow: visible;
    } */

    header .highlight {
        color: #ffffff;
        border: groove;
        border-width: 5px;
        border-color: #008080;
        background-color: #008080;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 35px;
        /* margin-bottom: 20px; */
        width: 200px;
        padding: 20px;
    }
}    

/* with of phone in landscape */
@media screen and (max-width: 640px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box{
        float: none;
        text-align: center;
        width: 100%;
        overflow: visible;
    }

    header nav {
        margin-top: 10px;
    }

    header {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #showcase h1 {
        margin-top: 40px;
    }

    header .highlight {
        width: 100%;
        /* border: 20px solid purple; */
    }

    .nav_wrapper {
       width: 100%;
    }
    

    #newsletter button,
    .quote button {
        display: block;
        width: 100%;
    }

    #newsletter form input[type="email"],
    .quote input,
    .quote textarea {
        width: 100%;
        margin-bottom: 5px;
    }

    article#main-col{
        width: 100%;
        margin: auto;
    }

    article#main-col img{
        width: 100%;
        height: auto;
    }

    article#portfolio img{
        width: 100%;
        height: auto;
    }

    article#portfolio a{
        background-color: #008080;
        width: 100%;
        z-index: 100;
    }

    .content {
        background-color: #008080;
        color: #ffffff;
        width: 100%;
        height: auto;
        padding-bottom: 30px;
    }

    .portfolio {
        height: auto;
    }
    .dark {
        width: 100%;
    }
    article#main-col .bio-pic {
        width: 100%;
    }
}